@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

$border-color: $gray-400;

.card {
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.card-title {
  @include h5;
  margin-bottom: 12px;
}
