@use "../../sass/variables" as *;

.button {
  background-color: $primary;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  height: 38px;
  padding: 0px 12px;
  transition: background-color .15s ease-in-out;

  &:hover,
  &:focus {
    background-color: $primary-dark;
  }

  &--small {
    font-size: 14px;
    height: 31px;
    padding: 0px 8px;
  }
}
