@use "@sass/variables" as *;

.button {
  background-color: $primary;
  border-radius: 6px;
  border: none;
  color: $white;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  height: 42px;
  padding: 0px 18px;
  transition: background-color .15s ease-in-out;

  &:hover,
  &:focus {
    background-color: $primary-dark;
  }

  &--small {
    border-radius: 5px;
    font-size: 14px;
    height: 31px;
    padding: 0px 10px;
  }
}
