@use "../../sass/mixins" as *;
@use "../../sass/variables" as *;

.recording-list {
  margin-top: 16px;

  ol {
    @include reset-list;
  }

  &__placeholder {
    background-color: $gray-200;
    border-radius: 3px;
    color: $gray-600;
    padding: 20px;
    text-align: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
