@use "../../sass/variables" as *;

.create-stream-form {
  margin-top: 16px;

  &__row {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  &__url {
    flex-grow: 1;
    margin-bottom: 0px;
    margin-right: 10px;

    @media (max-width: $screen-md) {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  &__duration,
  &__resolution {
    flex-basis: 110px;
    flex-grow: 0;
    margin-right: 10px;

    @media (max-width: $screen-md) {
      flex-basis: 0px;
      flex-grow: 1;
    }
  }
}
